streamlit
numpy
pillow
opencv-python-headless
tqdm
pycocotools
iopath
omegaconf
pyyaml
dataclasses
fvcore
tabulate
torchvision
psutil
setuptools
matplotlib
termcolor
packaging
cloudpickle
timm
streamlit
numpy
pillow
opencv-python
tqdm
pycocotools
iopath
omegaconf
pyyaml
dataclasses
fvcore
tabulate
torchvision
psutil
setuptools
matplotlib
termcolor
packaging
cloudpickle
timm
git+https://github.com/facebookresearch/detectron2.git
